@import url(https://fonts.googleapis.com/css?family=Exo:300italic);

html {
  background: url(assets/RhkutaY.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #FFFFFF;
  width: 98%;
  min-height: 100%;

  font-family: 'Exo', sans-serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.content a {
  font-size: 0; /* mobile no text */
}

.content {
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.35);
  width: 98%;
  padding: 1px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer {
  margin-left: 15px;
}

img {
  max-width: 80%;
  height: auto;
  width: auto\9; /* ie8 */
}

@media (min-width: 1125px) { /* "mobile", "desktop" actually starts breaking around here and im lazy and not that good at css */
  .content {
    border-radius: 25px;
    padding-right: 45px;
    width: auto;
  }

  .spacer {
    margin-left: 75px;
  }

  .content a {
    font-size: inherit;
  }
}