@import url(https://fonts.googleapis.com/css?family=Exo:300italic);

body {
  background-image: url(assets/bg_blur.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #FFFFFF;

  font-family: 'Exo', sans-serif;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.content{
	width:600px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-200px 0 0 -300px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.spacer {
    margin-left: 35px;
}
